/.project
/.pydevproject
*.pyc
/test/data/repository
/test/data/dataset
/test/data/cache
/test/data/work
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp 
.settings/
/arcana.egg-info/
/build/
/dist/
/docs/build
/.vscode
/docs/source/_build
.pytest_cache/
/.history