language: python
sudo: required
services:
  - docker
matrix:
  include:
    - python: 2.7
    - python: 3.4
    - python: 3.6
env:
  global:
    - ARCANA_TEST_XNAT='http://localhost/xnat-py$TRAVIS_PYTHON_VERSION'
    - ARCANA_TEST_DATA=$HOME/data/py$TRAVIS_PYTHON_VERSION
    - XNAT_VER=1.7.4
    - MODULESHOME=$HOME/packages/modules
    - MODULEPATH=$HOME/modules
    - NUMBER_OF_PROCESSORS=8
    - XNAT_DIR=$HOME/packages/xnat-$TRAVIS_PYTHON_VERSION
addons:
  apt:
    update: true
    packages:
    - git
    - g++
    - python
    - python-numpy
    - libeigen3-dev
    - zlib1g-dev
    - libqt4-opengl-dev
    - libgl1-mesa-dev
    - libfftw3-dev
    - libtiff5-dev
    - python-pip
    - wget
    - cmake
before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-`uname -s`-`uname -m`  > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
install: 
  - ci/xnat.sh
  - ci/modules.sh
  - ci/netrc.sh
  - pip install .
  - mkdir -p $HOME/data
  - pip install nose
  - pip install codecov
before_script:
  - pushd $XNAT_DIR; docker-compose up -d; popd
  - python ci/wait_for_xnat.py
script:
  nosetests test/unittests --with-coverage --cover-package=arcana
after_script:
  - pushd $XNAT_DIR; docker-compose down; popd
cache:
  directories:
    - $HOME/packages
    - $HOME/modules
    - $HOME/downloads
after_success:
  codecov
